[2016-05-15 15:05] mrbannon commented on #387
Here's what I would like to see:

- Well-defined datatypes that pass between indexers
- caching solution that allows any type of storage; this implies some type of API
- minimization of settings such that changing a setting in an indexer does not impede the use of another indexer
- "minimal and complete": indexers do one thing and one thing only; it's up to the user to decide how they are used
- m

[2016-05-15 17:07] alexandermorgan commented on #387
@mrbannon could you be more specific about your first four points? What's an example of the problem for each one? I think the datatypes are well-defined in VIS, especially between the indexers. Do you want checks for the origin of dataframes passed as arguments?
What do you mean by any type of storage? What kind of stuff do you want to store? Also is VIS the best place for that? We can temporarily

[2016-05-15 17:09] mrbannon commented on #387
I will address these issues in our meeting.

On Sun, May 15, 2016 at 1:07 PM, Alexander Morgan <notifications@github.com>
wrote:

[2016-05-15 17:16] alexandermorgan commented on #322
I think that the indexers should actually abandon the module part of their names (in the dataframe columns anyway) because this creates a pandas syntax naming collision. See #394

[2016-05-15 17:19] alexandermorgan commented on #204
@mborsodi solved this problem with the over_bass indexer.

[2016-05-15 17:19] #204 closed

[2016-05-15 17:21] alexandermorgan commented on #100
Top X isn't a feature that we have anymore so I'm closing this.

[2016-05-15 17:21] #100 closed

[2016-05-15 17:24] alexandermorgan commented on #258
@mborsodi could you look into implementing some music21 function to come up with a chordal analysis indexer?

[2016-05-15 17:38] musicus commented on #258
@alexandermorgan didn't we specifically assign Claire to this task?

[2016-05-15 17:44] musicus commented on #387
- Clear separation of settings form indexers: Settings should be individual modules, or _filters_.

[2016-05-15 19:29] crantila commented on #258
... wow... you totally unearthed the 2013-era issue!

I would be happy to talk this over with whoever's doing it, since I've made several attempts, most of whihc aren't public, and none of which are compatible with VIS in May 2016.

[2016-05-15 19:36] alexandermorgan commented on #258
Yes Reiner, you're right, this was assigned to Claire. Thanks for the reminder!

[2016-05-15 19:39] crantila commented on #394
Something about this makes me uneasy. I'm not sure whether there's a technical reason to object, or if it's just because this is a backward-incompatible change with dubious benefit.

There were two reasons I put the module name in the DataFrame. First, that's how the analyzers should be imported in analysis scripts and client programs. You can take the string of an analyzer's name and use it to fi

[2016-05-15 19:56] ahankinson commented on #394
You are proposing to reduce one level of namespace. The tricky thing is that Python treats colliding class names silently, so if you end up in the situation that Christopher mentions, you wouldn't know whether `df.CadenceIndexer` was the Caplin one or the Hepokoski one.

[code]

[2016-05-15 20:34] alexandermorgan commented on #394
I see your guys' point, but I think that having two indexer classes with the same name but in different modules is something that we should avoid no matter what our naming conventions are. So I don't see how Christopher's ambiguous case could ever arise. That being said, no problem, we can just keep the naming convention as it is.

[2016-05-15 20:58] ahankinson commented on #394
Keeping method and class names unique across a large piece of software is why namespaced conventions were invented. Otherwise you end up with a language like objective c, which doesn't support namespaces and which relies on ad hoc naming conventions to ensure that an NSString and a CFString are two different types of objects. It's fine if you can keep the whole thing in your head, but if it grows,

[2016-05-16 09:19] maxalbert commented on #387
@mrbannon's points all resonate strongly with me. Sadly, my work with VIS has been put on hold for quite a while so I don't have anything immediate to add, but in my (admittedly very limited) experience of working with VIS one of the things I found most difficult was to feed output from one indexer into another and easily build multi-step pipelines. I don't have any concrete examples of my difficu

[2016-05-17 21:59] #394 closed

[2016-05-17 22:04] alexandermorgan commented on #329
Now the equals() method is sort of documented: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.equals.html

`df1.equals(df2)
`
Returns a boolean if the values are equal. NaNs are considered equal.

[2016-05-17 22:04] #329 closed

[2016-05-17 22:06] alexandermorgan commented on #378
Great, though we'll still have to change metre to meter in all of the tests.

[2016-05-17 22:14] alexandermorgan commented on #316
It looks like we're not going to export settings for VIS 3.0. Instead we're going to cache stable results that don't get influenced by settings. Post-processing indexers (like the n-gram indexer) will just get rerun every single time. There are simply too many possibilities to store them all in an orderly way. The good news is that most of these post-processing indexers are very fast to the point

[2016-05-17 22:14] #316 closed

[2016-05-17 22:17] alexandermorgan commented on #374
This solution will undergo further minor refactoring, but in any event this problem is sorted out on alex_devel with this commit: ca6b29ca7357ceddf0bc7b68757bd44f95f9118e

[2016-05-17 22:17] #374 closed

[2016-05-17 22:19] alexandermorgan commented on #291
Why would we want to disallow this?

[2016-05-17 22:25] alexandermorgan commented on #373
@crantila 's idea to use memoization was really effective and provided an easy solution to this problem. It's already implemented on alex_devel as of this commit: 68be79908f08ba1700d44a0da04442436f56a313

[2016-05-17 22:25] #373 closed

[2016-05-18 14:12] crantila commented on #378
You can't say "okay this is finished except for the proof that it works" and close the issue...

[2016-05-18 14:14] crantila commented on #387
Thanks for your feedback @maxalbert, and may I also suggest that inadequate documentation is part of the problem?

[2016-05-18 14:16] crantila commented on #291
https://vis-framework.readthedocs.io/en/latest/about.html#two-types-of-analyzers

[2016-05-18 16:19] alexandermorgan commented on #291
I read through this file and I still don't see why we would want to disallow this. I get that if you're creating a linear workflow, and experimenter will generally be at the end of that workflow. But if you're just exploring a piece or corpus, you could easily want to run an indexer after having run an experimenter. Also, this shouldn't change the results of the indexer so I don't know why we woul

[2016-05-18 18:29] maxalbert commented on #387
@crantila Yes, absolutely. Missing and/or outdated documentation was one of the biggest problems to get me going. I'm sure that VIS is actually capable of a lot of things that I'm not aware of and thus had to find workarounds for.

[2016-05-19 20:05] mborsodi commented on #319
All the docstring examples? Or are there specific ones?

[2016-05-20 09:13] crantila commented on #291
This is about the situation where an indexer receives data *only* from experimenters. For reasons explained at length in the API, this would necessarily produce nonsense, by virtue of the distinction between indexers and experimenters.

Whether to bother adjusting `IndexedPiece` so it prohibits this is open to discussion. The fact that a workflow with an indexer that receives data *only* from expe

[2016-05-20 09:15] crantila commented on #319
All. They needn't be particularly useful, but the expectation of experienced Python users is that any sample code in documentation should be executable.

[2016-05-20 12:56] musicus commented on #319
Yes, all.

[2016-05-20 14:31] mborsodi commented on #319
Also, what parts of the code should actually have examples? Right now it looks like 1) mostly only run() has examples, which makes sense because it is the part people will be interacting with the most when using VIS and 2) there are a couple of indexer_func() with examples, but it's pretty unlikely that anybody not working on VIS is actually going to need that. So, am I making these examples for u

[2016-05-20 15:33] musicus commented on #319
Proceed at what we just discussed.

[2016-05-20 15:44] musicus commented on #387
A _lyrics indexer_ for music with text.

[2016-05-20 16:02] crantila commented on #319
What did you just discuss?

My model for good API documentation, for a long time, has been Qt. See [this](https://doc.qt.io/qt-5/qml-qtwebengine-webenginehistory.html) as an example. The idea is this:
- one-sentence description
- parameter type and description
- if the function raises any exceptions, mention this
- further prose description, if required
- an example, or some examples, depending on

[2016-05-25 18:13] mborsodi commented on #378
Done

[2016-05-25 18:13] #378 closed

[2016-05-25 18:18] musicus commented on #378
:smile_cat:

[2016-05-26 16:05] mborsodi opened #396 "Error thrown with grace notes and layers"
I found these errors popping up:

and

and figured out that they happen when there are duplicates in the index, so duplicate offsets. Right now this is happening when there are grace notes in the music or different layers. There might be other cases too, but these are the ones I've found so far.

Here's an example of grace notes:

[code]

[2016-05-26 16:09] mborsodi commented on #396
I think the solution to this might be related to the issue with indexing chords - #258 and #382, so maybe they should be worked on together?

[2016-05-27 19:09] musicus opened #397 "Installer"
Create an installer so VIS can be installed not just with pip, i.e.: click this file, and it installs.

[2016-05-27 19:18] mrbannon commented on #397
Is there anything you recommend to facilitate this?
On May 27, 2016 3:09 PM, "Reiner Krämer" <notifications@github.com> wrote:

[2016-05-27 19:57] crantila commented on #397
Once you [Ansible](https://docs.ansible.com/ansible/index.html), you don't go back!

[2016-05-27 22:18] musicus commented on #397
That is a possibility, for example.

[2016-05-30 17:04] mborsodi commented on #319
OK, I added examples in everything except for:

- ngram (because it's deprecated)
- dissonance (the tests for this are failing for me, so I'll add it as soon as I figure this out)
- lilypond, dendrogram, barchart (are these going to be used very much anymore once the VIS-Ualizer is ready?)

[2016-05-30 17:14] musicus commented on #319
I'm assuming you did the new_ngram? Ok on dissonance indexer, and Point 3, yes VIS-Ualizer will overtake these. 😸

[2016-05-30 19:16] mborsodi commented on #319
Yes, new_ngram is done. So I can close the issue once I do dissonance indexer? Or is there anything else I'm forgetting?

[2016-06-09 12:17] alexandermorgan opened #398 "New_ngram indexer crashes when user asks for voice combinations that are out of range."
If the user asks for vertical slices of the intervals between voices 0,1 and 0,2 but there are only two voices, the program throws an error. This mismatch should be checked for in the init method and a warning should be raised instead.

[2016-06-09 12:22] alexandermorgan commented on #396
Good catch! What piece did you use that had the grace notes? The issue with grace notes is that they're not exactly the same as chord objects, because in reality they don't happen at the same time as the "real" note. They happen in a linear succession. Perhaps we should check for grace notes and ignore them? This doesn't seem like an ideal solution either. This should be discussed in the next ELVI

[2016-06-09 12:23] alexandermorgan commented on #397
Who is going to do this? In case anybody was thinking of me, I'm really not the person for this task.

[2016-06-09 12:25] alexandermorgan commented on #393
Thanks Christopher, this link helps a lot!

[2016-06-09 12:31] alexandermorgan commented on #384
I'm not sure exactly what you have in mind here. So far pandas has met all of our data-crunching needs with the small exception of dendrogram visualizations which we use scipy for. I'm also not sure what data you consider to be post-data. On some level, other than importing a piece, all of our analytical steps amount to post-processing data.

[2016-06-09 13:01] alexandermorgan commented on #375
I think it's important to note that your original statement that the n-gram indexer requires simple horizontal intervals is actually not true. The n-gram indexer will use horizontal-interval observations of any kind, even nonsensical ones, as long as they're strings, ints, or floats. Also, considerable progress on this issue has been made in alex_devel.

[2016-06-09 14:59] musicus commented on #384
Sorting, filtering, (I'll add to this), etc. ...

[2016-06-09 15:02] musicus commented on #397
Ok. I'll assign it to @mborsodi.

[2016-06-09 15:03] musicus commented on #396
@mborsodi did you you already try your proposed solution?

[2016-06-09 15:05] alexandermorgan commented on #384
Right, these are all things that we can and do use Pandas for. If there's something that Pandas can't do then we could make an issue for that specifically, but otherwise I think we can close this.

[2016-06-09 15:09] musicus commented on #384
OK. If pandas can do it, than it should be documented within must theory / musicology use cases. So this needs to remain open until these filter/sorting functions have been built, or documented.

[2016-06-09 15:13] musicus opened #399 "Pandas documentation"
Provide, additional pandas documentation in regards to music theory/musicology use cases.

[2016-06-13 14:26] musicus opened #400 "Manifest Parsing"
Currently when downloading files from the ELVIS database the user has two download options: (1) a zip file (flat) without directory structure, containing a meta data (manifest) file, and (2) a directory structure where the meta data file sits in the furthest branch of a directory tree (download some file, to see what I mean).

We need to be able to parse these meta data files, and assign the meta

[2016-06-13 14:30] ahankinson commented on #400
I'm confused -- what part of parsing the metadata would go into the VIS framework itself?

[2016-06-13 14:40] musicus commented on #400
The meta data will not go into the ```vis-framework```, only the parser. We have this module http://vis-framework.readthedocs.io/en/latest/vis.models.html#module-vis.models.indexed_piece and perhaps we should be able to read the meta data from the downloaded files from the ELVIS database, which includes a ```meta``` file, with this module by extending/refactoring it.

[2016-06-13 15:31] musicus commented on #400
In addition, the meta data can also be attached to the music21 stream. The following questions need also be investigated:

- Is the ```vis``` mechanism separate from the music21 process?
- Can the meta data, once assigned with the ```vis``` mechanism, read in at any time, as is the case with the music21 stream?
- Is meta data from music21 streams added to ```vis``` indexed pieces?
- Does the meta

[2016-06-13 16:08] alexandermorgan commented on #400
@musicus didn't you do a bunch of work on importing folders of files several months ago? It seems like this task would go hand in hand with that one. As I understand it, VIS collects metadata at the import stage, so it is generally not something that would be done at any time. A user could manually assign metadata at any time though. Concerning your last two questions, metadata in VIS is assigned

[2016-06-13 16:12] mborsodi commented on #400
If we have the option for a meta-data file at the import stage, though, we could do it all at once, right?

[2016-06-13 16:15] alexandermorgan commented on #384
I still don't understand this issue or #399. If people are coming up with ways of post-processing VIS data using Excel or any other program outside of the framework I don't see why we would document it. All the things that Catherine, Sam, or Emily have coded or worked out in Excel could have been done with Python and Pandas, they just decided to use other tools that they are more familiar with. On

[2016-06-13 16:16] musicus commented on #400
@alexandermorgan No, I did not (I worked on something else), because we did not have the same type of meta data files generated by the ELVIS database. The last time I worked with this issue, meta data was not properly assigned, and therefore was not available at any stages. The questions were directed @mborsodi.

[2016-06-13 16:20] alexandermorgan commented on #400
I chimed in here because I was temporarily assigned. @mborsodi it seems like all the metadata should be able to be assigned at the same time, but if you work on this make sure that whoever is in charge of the database now is going to keep the metadata file the same because it would be a shame if you worked out a solution and then the format of that file changed.

[2016-06-13 16:30] mborsodi commented on #384
I think the idea is to show users the best and simplest ways of doing post-processing, as well as just to demonstrate the range of possibilities, especially to non-programmers (or to those who are relatively new to it). I've noticed we get a fair amount of questions about whether or not something is possible in VIS, and often times it's something that is fairly obvious to do, but because most peop

[2016-06-13 16:32] mborsodi commented on #400
Yes! Thank you @alexandermorgan, I will definitely look into that.

[2016-06-13 18:26] mborsodi commented on #319
Done, in my branch.

[2016-06-13 19:01] mborsodi commented on #399
To be added:

- concatenating
- indexing by part and by offset
- creating new dataframes (?)
- map and applymap examples
- Alex's cross-referencing filter technique

What am I missing?

[2016-06-13 19:21] musicus commented on #319
It should only close when it is merged into main ... if you set it up appropriately the issue will be closed automatically at that point. Look it up.

[2016-06-13 19:32] musicus commented on #399
Yes (especially the difference between ```map``` and ```applymap```)!

Here are some more basic items I use all the time:

- Extracting one (a single part/voice) series from a DataFrame
- Describe: ```.describe()```
- Instant Histograms: ```.value_counts()```
- Most counted value: ```.mode()```
- Get all values in a series as an array: ```.values```
- Amount of events in a series: ```.size```

We

[2016-06-13 19:35] mborsodi commented on #399
Thanks! @alexandermorgan do you have any more suggestions to add?

[2016-06-13 23:07] alexandermorgan commented on #399
Yes, I would point out that `.value_counts()` only works on a series. If you want to flatten one of our multi-indexed dataframes into a series and then count those events, you can do this `noterestDF.stack().stack().value_counts()`
To just get the index of a dataframe: `df.index`
Just the columns: `df.columns` though this one is a little more complex given our multi-index
If you want to do index-b

[2016-06-13 23:11] alexandermorgan commented on #399
Also, if you're going to distinguish between applymap and map, you should probably explain apply too, and this in the context of series and dataframes because I'm pretty sure they're different (applymap is only for dataframes). But those are pretty complex functions, I'm not sure you would want to venture into all that for a little intro to pandas.

[2016-06-13 23:17] musicus commented on #399
@alexandermorgan - yes, now we are getting somewhere...

[2016-06-14 14:00] mborsodi commented on #399
What's the benefit of using ```.value_counts()``` over the frequency experiment that we have in VIS? Don't they do the same thing?

[2016-06-14 14:11] musicus commented on #399
Yes, it appears to be similar. However, for documentation purposes it should be mentioned. You should test and compare the performance. Again, as I stated before _we should go through the pandas documentation bit by bit_. Any _jargon_ should be avoided, and anything should be stated as clearly as possible.

[2016-06-14 14:57] musicus commented on #399
The use of ```apply```, ```applymap``` (specifically for pandas & Python), and ```map```, or the use of similar higher-order functions is very common in other programming languages ... so I do not see a reason why not to venture there. We want to have the most complete documentation as possible, from basic to cookbook ...

[2016-06-15 03:51] crantila commented on #400
Responding to @musicus' questions above:

All of the VIS metadata come from music21.

Metadata are (always, only) stored in `IndexedPiece` instances, and are available for as long as the instance is accessible, regardless of what happens to the Stream from which it was obtained. They're imported by the `_import_score()` method, which *should* be the only way a music21 Score is ever imported into V

[2016-06-15 11:41] musicus commented on #400
@crantilla thanks for answering questions for @mborsodi. I'm sure this will make it easier for @mborsodi to parse the meta data file(s) included in the zipped downloads from the ELVIS database.

[2016-06-16 18:53] mborsodi commented on #382
Is this issue the same as #258? If so, maybe we should close one of them just to avoid confusion? If not, what is the difference?

[2016-06-20 15:57] mborsodi commented on #138
@musicus when there are multiple attachments on a piece that aren't separate movements, how do I decide which one to load into VIS? We probably wouldn't want to load in all of them, right, since that would be redundant, but otherwise we'd be either requiring a lot of user input, or guessing what they want... is there some middle ground solution here?

[2016-06-21 17:01] mborsodi commented on #369
Alright, I added this functionality to aggregated pieces. It now takes:
- a list of indexed pieces (as before)
- a list of files (new)
- a path to a folder from which it can also extract the meta data if present (new)
- a list of links (new)

Also for all the options above you can now also add metadata as an input option as well.

Now, I'm working on adding something that can parse through larger

[2016-06-21 17:15] mborsodi commented on #371
So, I realized that the reason it wasn't working is because there was no `run()` function in `_indexed_piece()`. I added it and called import score from there.

[2016-06-21 17:15] #371 closed

[2016-06-21 20:47] musicus commented on #138
Let your function decide which ones to load ... 1) make some sort of list of preferred file types that is substitutable; (2) see if the file can be parsed with music21; (3) see if the file can be placed into a data frame ... document.

[2016-06-25 08:51] alexandermorgan opened #401 "Mislabelling of chanson idioms as passing tones"
The eighth-note G in lower voice in this example taken from Lassus's duo Qui Vult should be labelled as a chanson idiom but it is getting a passing tone label. This means that at least the first problem is in the passing-tone definition.

![image](https://cloud.githubusercontent.com/assets/2601689/16355774/6d2aef48-3a90-11e6-9c6c-ead6c757caf3.png)

[2016-06-25 10:01] alexandermorgan commented on #401
This is actually a place where both labels would work if we accept chanson idioms in eighth notes (fusi).

[2016-06-27 09:55] alexandermorgan opened #402 "'align' setting for new_ngram indexer."
In our recent discussion on how to refactor the n-gram indexer (see issue #360) we proposed a couple of new ideas on how to handle n-grams better. The new_ngram indexer solved many of our problems but does not contain all the metadata about each n-gram that we may want. Practically speaking, the most useful piece of data about n-grams that we don't currently support is knowing when they finish. Th

[2016-06-30 17:52] alexandermorgan opened #403 "Score importer can't handle a part with no notes"
When a part with no notes is imported, VIS crashes when it tries to figure out what that part's range is for the metadata. A part can have no notes if it is a placeholder for a part that is known to exist, but has been lost.

[2016-07-14 16:53] mborsodi commented on #384
I've added some of my scripts and one of Sam's. I think that's all I really had, unless there's something else specific you wanted me to add here, @musicus ?

[2016-07-14 19:56] musicus commented on #384
That's good for now.

[2016-07-19 20:41] #319 closed

[2016-07-19 20:41] #397 closed

[2016-07-19 20:41] #403 closed

[2016-07-20 09:21] musicus commented on #399
@mborsodi you finished your part, but the issue needs to stay open.

[2016-07-20 13:25] musicus commented on #397
😸

[2016-07-21 16:29] #400 closed

[2016-07-21 16:29] #369 closed

[2016-07-21 19:16] mborsodi commented on #138
I added a new branch to the vis-framework project called [database_connection](https://github.com/ELVIS-Project/vis-framework/tree/database_connection). It contains all of the work I've done on this issue. Loading pieces from urls and getting metadata directly from the database should work in `indexed_piece.py` already, but it's very much still a work in progress in `aggregated_pieces.py`. I'm not

[2016-07-21 19:33] mborsodi opened #406 "set class indexer"
In the branch called [setclass](https://github.com/ELVIS-Project/vis-framework/tree/setclass), there is a WIP indexer for doing set class calculations (using music21) on vertical sonorities as well as horizontal strings of pitches and intervals. If anyone wants to finish this, I think I made a pretty good start here, even though there's still stuff to do.

[2016-07-21 20:04] musicus commented on #406
... for all your Dallapiccola needs.

[2016-07-21 20:12] musicus commented on #138
@mborsodi ok, great ... maybe call it _elvis_connection_ in case we want to make other database connections, i.e. internally, or to other servers?

[2016-07-22 19:24] mborsodi opened #408 "Metadata fields"
Currently, it seems like all the metadata fields are hard-coded into `indexed_piece` and `aggregated_pieces`. This makes it difficult to add new fields, especially if we want to be able to easily parse them from somewhere else (like the elvis database).
Maybe there can be a better way of having the metadata options more easily expandable?

[2016-08-03 15:39] alexandermorgan commented on #399
For anyone who's looking, Marina's pandas documentation is [here](https://github.com/ELVIS-Project/vis-framework/wiki/Pandas).

[2016-08-04 20:01] musicnerd commented on #399
Hi guys, as someone working my way through the pandas documentation I had a few comments: 1) there are 2 broken links at the top of the page: "One step beyond" (which in the text body is actually called "one step further" and the one underneath that, "Advanced pandas" which doesn't actually seem to have made it into the body at all, so perhaps it needs to be deleted?  Also I can see you guys talki

[2016-08-04 20:15] mborsodi commented on #399
You can go ahead and change the broken links,  I might have changed some of the organization of the text along the way and forgotten to change the index at the beginning.
Value counts is something that we do in VIS called the frequency experimenter. I left it out of the pandas documentation here because of that. Having an experimenter doing something that a pandas function can do might be a separa

[2016-08-04 20:39] musicus commented on #399
@musicnerd - I fixed the 2 broken links on the top, but you are more then welcome to fix anything else in the documentation as well ... ```.value_counts()``` is a part of [pandas](http://pandas.pydata.org/pandas-docs/version/0.16.2/generated/pandas.Series.value_counts.html).

Here is more pandas documentation (as long as your pandas is pandas>=0.14.1,<0.17, I added this to the pandas section of th

[2016-08-23 17:51] musicus opened #409 "New Dissonance Indexer"
Even though I fundamentally disagree with the proposed new dissonance indexer, may I request to still include the old dissonance indexer in the 3.0 release, perhaps it could be prefixed with ```old_```, and should be marked as being deprecated.

[2016-08-23 20:46] alexandermorgan commented on #409
I'm not sure I know what you're talking about. I never proposed a new dissonance indexer.

[2016-08-24 14:33] musicus commented on #409
Whatever you proposed at the ELVIS meeting on Friday, I thought it was a re-write of the dissonance indexer, but maybe something else, I don't have my notes on me. In either case I would like to propose the same procedure as outlined above.

[2016-08-24 18:07] musicnerd commented on #399
Marina: In the section of the wiki under "concatenating" you paste the line of code that you need to cat the two dataframes together. But then, you show two dataframes (notes and intervals) aligned by the same index (or "pasted" together) but you don't show the line of code used to generate that.  Could you either add it or just reply here and I can add it?  That seems useful.

[2016-08-24 18:20] mborsodi commented on #399
Sorry about that @musicnerd. The code is almost exactly the same:
`pandas.concat([df1, df2], axis=1)`

[2016-08-24 21:08] alexandermorgan commented on #409
Since there aren't two versions of the dissonance indexer I can't deprecate one in favor of a second one that doesn't exist. We can discuss this in person if you like but I'm closing this issue since there's nothing to do.

[2016-08-24 22:28] musicus commented on #409
Until we discuss this issue in person it will remain open.

[2016-08-25 17:48] musicnerd opened #410 "Multiindexer necessary?"
I was talking with Alex M. today about some annoyances that arise seemingly out of VIS's use of the multiindexed dataframes.  Although Alex explained how the multiindex can be used, it seems that nobody is really making use of it.  That is, everything most users do, they could do with just simple (non-multiindexed) pandas dataframes.

Getting rid of the extra "level" would make a lot of the indexi

[2016-08-25 18:08] musicus commented on #410
Yes, all five users, hahahaha ... for 3.0? (It's not that big of a deal to go through the multiindex, and re-naming can totally be done) Simpler is always better.

[2016-08-25 18:25] musicnerd commented on #410
Well for now, yes all 5 users. Do you use the multiindex? Simpler is always better exactly! So get rid of the multiindex!  I'm not suggesting that things can't be done, it's just confusing for new users (something that will presumably be an issue in the future if we ever want other people to use it) and re-naming is a pain.  I'm just trying to figure out why it was set up like this in the first pl

[2016-08-26 00:38] alexandermorgan commented on #410
Perhaps @crantila could speak to the logic behind the multi-index in its original conception. The utility of labelling data is sort of obvious but there are a couple of new directions that we have been taking with VIS that make the columnar multi-index either increasingly troublesome or unnecessary.

It is more troublesome than before because if you want to filter one dataframe based on the values

[2016-08-26 00:42] alexandermorgan commented on #410
This is related to #394 .

[2016-08-26 02:48] crantila commented on #410
In fact, the `MultiIndex` columns are the simplest solution. What nobody remembers is the problems they solve. Multi-indexed columns allow the results of every `Indexer` used in an analysis to be stored together, which is better for remotely caching results. Multi-indexed columns allow every single `Indexer` to have the same data structure for input and output: a single `DataFrame`. Finally, multi

[2016-08-26 03:13] alexandermorgan commented on #410
@crantila , your post is both informative and hilarious. Bravo!

[2016-08-26 07:21] ahankinson commented on #410
Could you explain this a bit more?

[2016-08-26 14:00] musicus commented on #410
@ahankinson stop teasing, surely people have other things to do than write extremely verbose github comments, like writing documentation... :stuck_out_tongue:

[2016-08-26 17:45] crantila commented on #410
That's a strange way to say "please help us by working on the API!"

@ahankinson VIS Framework was designed to run on a server as the primary thing in charge. That was the biggest influence on architectural decisions like the multi-indexed columns. Since I left, there's been a trend to decentralize complexity: server-side data flow is handled by RODAN; data visualization by VIS-Ualizer; nobody eve

[2016-08-26 18:00] musicus commented on #410
@crantila we wanted the algorithms for the melodic search to be implemented and work before we create indexers. They will be fused later. VIS-for-Pd / and Max are mere visualization aids to show  workflows for analysis could be structured in Rodan. We are using the WorkflowManager and AggregatedPieces. However, these snarky critiques still do not deflect from the lack of documentation.

[2016-08-26 20:07] alexandermorgan commented on #410
@crantila thanks for your comments. I think you make a good point about how the current solution of keeping the indexer and class information in the columnar multi-index is the simplest solution as far as the program architecture is concerned. So the ease of use we're looking for with the removal of this multi-index does come at the cost of somewhat more complexity in the backend. I hadn't thought

[2016-08-26 21:44] ahankinson commented on #410
Thanks, Christopher. I was genuinely interested in your response to my question, and not trying to provoke anything. I think the intention for the melodic search is that it will be rolled into an indexer, but it's just sitting outside VIS while we figure it out.

[2016-08-27 18:22] #409 closed

[2016-08-27 18:23] #384 closed

[2016-08-27 18:24] #399 closed

[2016-08-27 18:26] #381 closed

[2016-08-27 18:27] #380 closed

[2016-08-28 16:10] alexandermorgan commented on #382
I'm reopenning this because this is getting addressed in my changes for VIS 3. The functionality is already in alex_devel but this should stay open until I'm done writing tests and merge it into master or at least develop. @musicus why was this issue closed in the first place? Generally it's good to say why you're closing an issue unless you close it with a commit, in which case the reason is obvi

[2016-08-28 16:13] alexandermorgan commented on #383
I think this should stay open too, and this would be another good project for Claire and/or Sam.

[2016-08-28 16:14] musicus commented on #382
It seems as though I created the issue. I'll check alex_devel.

[2016-08-28 16:17] musicus commented on #383
It seems though as if I created an issue.

[2016-08-28 16:23] alexandermorgan commented on #383
I don't understand. It shouldn't matter who created an issue.

[2016-08-28 16:50] musicus commented on #383
It doesn't.

[2016-08-29 23:19] alexandermorgan opened #411 "Generalize .run() in indexers?"
In VIS 3 multiple indexers may be able to share the same .run() method which they could inherit from indexer.py if it were there. I'm not yet sure how many could make use of this, so I'm not sure if it's worth changing. I should know in the next week or two.

[2016-08-29 23:52] alexandermorgan opened #412 "Calculate duration based on noterest indexer results."
It's pretty messy to calculate durations by actually using the .duration attribute of a note, rest, or chord. This is because it's kind of a hassle to find all the notes that are tied together, then add up all their durations and assign this value to the position of the first note in the group. Let's use pandas instead. The code for a single part would look something like this:

[code]

Just throw

[2016-08-31 02:34] crantila commented on #411
There are several things that could be moved to the `Indexer` superclass, so this seems like a good idea. Not sure I understand exactly what you're thinking&mdash;it's that you want to put a generic `run()` implementation in `Indexer`, right? One that would use the `indexer_func`, for example?

[2016-08-31 02:36] crantila commented on #412
I remember we considered this already but ruled it out. Do you remember why? I don't...

[2016-08-31 19:46] alexandermorgan commented on #411
Sorry for not being clearer. Yes, I was thinking of putting a generic `run()` in Indexer.py. It would use `dataframe.applymap(indexer_func)` to do the indexing necessary. There are several cases where this would not be sufficient but even if it's only inherited by one or two indexers it could be nice to have this there, especially to facilitate the writing of future indexers. I'm not certain I'll

[2016-08-31 19:50] alexandermorgan commented on #412
As I was coding this up, I had the same vague recollection of a previous conversation about this. I think it was just that what we had worked, so we didn't want to mess with it. It's a little more problematic in VIS 3 though, so I'm planning on going ahead with this change.

[2016-08-31 19:56] alexandermorgan opened #413 "Time signature indexer"
We should have a time signature indexer that returns a dataframe of the time signatures in each part in a piece. This would be a pretty sparse dataframe since time signatures don't change very much. @slhowes and Claire are making great progress with this and it may make its way into VIS 3.

[2016-08-31 20:10] alexandermorgan opened #414 "test_aggregated_pieces.TestAggregatedPieces failing."
test_run3, test_run4, and test_run6 in test_aggregated_pieces.TestAggregatedPieces are failing in the develop branch. @mborsodi , could you look into these? There are a couple of other tests that are also failing, but I can take care of those, I've just never really worked with the code of aggregatedPieces so this is a little tough for me to sort through.

[2016-09-02 21:01] alexandermorgan commented on #388
As @crantila mentioned, we only import two functions from scipy. These two functions, however, use dozens of other functions all of which, (or rather all those I checked), are located in three files in scipy: hierarchy.py, distance.py, and _hierarchy.pyx. This last one is problematic because it makes extensive use of cython and I'm having trouble getting this to work in VIS without having scipy in

[2016-09-02 21:39] crantila commented on #388
Since you hailed me.

I'll also point out the "Priority: LOW" label on this issue.

I don't feel strongly about the technical decision either way, but if you're going to follow Ich's advice it seems clear what to do.

[2016-09-02 22:42] alexandermorgan commented on #388
Fair enough, but I figure erasing or commenting out everything that has to do with dendrograms in VIS would take me less than 10 minutes so I think the time commitment is not an issue.

[2016-09-02 23:31] alexandermorgan commented on #398
This is addressed on alex_devel as of commit 3002fde7719dafa8fec365c81325d94415234dde.

[2016-09-02 23:31] #398 closed

[2016-09-02 23:33] alexandermorgan commented on #412
This has been implemented on alex_devel as of commit f5d0ea1c398f6aacd3a89790099e3b6fbfe503f7.

[2016-09-02 23:33] #412 closed

[2016-09-03 01:05] alexandermorgan commented on #402
This new setting is present and tested for on alex_devel as of commit f603f28550324fa42e15c5589a920b480934777b.

[2016-09-03 01:05] #402 closed

[2016-09-04 03:43] alexandermorgan commented on #411
This is addressed in alex_devel starting from commit 894e4ac987c90a758fbe6c5fcb61e11daedc0c98 (and the one just before it on indexer.py). .run() has been removed from the noterest, beatstrength, and measure indexers. Later it will be removed from the fermata indexer as well. Depending how (and especially if) the timesignature, lyric, beat, and dynamics indexers get written, they could all potentia

[2016-09-04 03:44] #411 closed

[2016-09-05 18:05] alexandermorgan opened #415 "Offset indexer does not have finite ending time."
The offset indexer currently identifies offsets between the start of the piece and the last observation of whatever series have been passed to it plus the the step (i.e. the quarterLength setting value). Often at the end of a piece, however, the last values are longer than average and our method looses these terminal repeats. If we use each part stream's highestTime attribute (like the duration in

[2016-09-05 18:09] alexandermorgan commented on #414
Now this passes on alex_devel. The reason it wasn't passing before is that I didn't have the hidden file .DS_store in vis/tests/corpus/elvisdownload because I guess hidden files don't come through with a standard git merge. We'll have to make sure this file goes into master too when we release VIS 3.0.

[2016-09-05 18:12] alexandermorgan commented on #408
This is a great idea but it unfortunately won't make it into VIS 3.0. This could be a good project for later in the fall.

[2016-09-05 18:15] alexandermorgan commented on #393
Closing because aggregated_pieces is already in the framework and working and Marina even recently made some improvements to it.

[2016-09-05 18:15] #393 closed

[2016-09-05 18:21] alexandermorgan commented on #382
This is addressed in alex_devel as of commit 00382fb5e2d863498dcba30c1a4dcf19eabfa803 with the new experimental indexer: noterest.MultiStopIndexer
This isn't perfect but it is stable and a good first step towards a more complex, analysis-based solution. It doesn't guarantee the most musical partitioning of notes and rests into voices, but it does guarantee that all notes in the score show up in it

[2016-09-05 18:21] #382 closed

[2016-09-05 18:25] alexandermorgan commented on #382
To address Marina's question, this issue is different from #258 in that getting the notes from a polyphonic instrument (or a part with a divisi) and then putting those notes into "parts" (more precisely separate columns in a dataframe) is distinct from assessing what chords those notes form at any given moment. Getting the notes (this issue) is pretty objective, whereas deciding what chords the fo

[2016-09-05 18:32] alexandermorgan commented on #295
While this issue is still far from resolved, it is important to note that the new architecture of VIS 3 (already present in alex_devel) makes extensive use of non-persistent caching. For deterministic  indexers or indexers whose output can be cajoled into some "complete" format that is easy to reindex, these results get cached for the duration of the existence of the indexed_piece object to which

[2016-09-05 18:37] alexandermorgan commented on #375
This has been implemented to the greatest extent possible in VIS 3 (already present in alex_devel). This is not possible for the n-gram indexer (Ryan's original example) because there are an infinite number of results this indexer can produce, and the input can be the results of any indexer or any combination of multiple indexers. However the n-gram indexer (or rather the new_ngram indexer, soon t

[2016-09-05 18:37] #375 closed

[2016-09-05 18:38] crantila commented on #414
No! `.DS_store` files are macOS system files. It's really not okay that a test requires an OS-specific cache, and very irresponsible git usage on the part of whoever committed that file.

[2016-09-05 18:48] alexandermorgan commented on #323
I see the value of this, but I think that for the sake of simplicity, it would be best to steer users towards making multiple calls to get_data, rather than having one big call. Since the single-big-call approach must necessarily run serially anyway, there wouldn't really be any computational advantage to it.
Also, the new architecture in VIS 3.0 makes this less of an issue by handling determinist

[2016-09-05 18:48] #323 closed

[2016-09-05 18:49] alexandermorgan commented on #414
@crantila wow, ok thanks for the heads-up!

[2016-09-05 18:56] alexandermorgan commented on #248
@slhowes , do you think this issue has already been addressed with the new documentation?

[2016-09-06 23:14] alexandermorgan opened #416 "Remove capability for recursion in IndexedPiece.get_data()"
get_data() currently supports recursive calls which allows it to queue up multiple indexer runs in one command. When more than one indexer is included in the call, it necessarily feeds the result of the nth indexer to the call to the n+1th indexer. Here's the recursive block from the code:
[code]
There are two main issues with this:

1. Only the results of the last indexer are returned
2. You can

[2016-09-07 00:24] alexandermorgan opened #417 "Multiprocess new_ngram indexer column calculations?"
Multiprocessing and the series_indexer were slated for removal in VIS 3 but it may be possible to multiprocess the new_ngram indexer's column calculations (each of which corresponds to an entire dataframe of the old ngram indexer). In theory this should be relatively easy but this is something that can wait until VIS 3.1 as it's not a major change. The new_ngram indexer is already relatively fast

[2016-09-07 19:58] alexandermorgan opened #418 "Refactor opus importation"
I'm having a little bit of a hard time understanding how to handle opus importation. I made _known_opus an attribute of indexed_piece objects so that we could reference it easily without having to pass the value around in all of the methods of indexed_piece.py. In _import_score, the description of the known_opus is:

Why would we have an expectation one way or another? It seems like if this is tru

[2016-09-07 21:20] crantila commented on #418
This isn't going to be fun.

I did the wrong thing here, in terms of writing idiomatic Python. Here's the idiomatic version:

[code]

Every function or method that calls `get_data()` would need to handle four return formats, and every `IndexedPiece` method would have to work with both `Piece` and `Opus` objects. This is a situation where the Pythonic solution seems much worse. In fact, it was diff

[2016-09-07 21:48] crantila commented on #416
Making me earn my salary today!

Neither of these would be problems if the analyzers followed the intended behaviour, each returning a single `DataFrame` with *cumulative* results from all previous analyzers. It was originally meant for *everything* to be done in a single call to `get_data()`, separating the three phases of music analysis: prepare, calculate, and output. Note how those phases corr

[2016-09-07 22:15] slhowes commented on #248
Yes. The goal of the new documentation is definitely to "get started quickly" and it is intended for users who have little or no familiarity with VIS (and even Python). If #380 has been closed, I think this issue should be closed too.

[2016-09-07 22:15] #248 closed

[2016-09-08 15:35] alexandermorgan commented on #418
Thanks for this reply. Allow me to summarize to make sure we're on the same page for the most important details.

1. A good solution is to make an agg_pieces object out of an opus
2. A good implementation for this solution is move score importation out of the IndexedPiece class

Your factory function above imports the file immediately. VIS does not currently do this but I think it's a good idea (t

[2016-09-08 19:13] alexandermorgan opened #419 "Make a super class that indexed_piece and aggregated_pieces inherit from."
This would allow for the sharing of certain functions, such as the assignment of metadata, and the calling of indexers via get_data(). Related to #418 .

[2016-09-08 19:20] alexandermorgan opened #420 "Store metadata about indexed_pieces and aggregated pieces in dataframes."
Dataframes would be a better container for the metadata about a piece and about a group of pieces. This data structure would facilitate the assignment of metadata (which is currently laboriously element-wise) and combining of metadata about individual indexed_pieces to the metadata about their containing aggregated_piece object. This is related to issue #408 and unfortunately won't get addressed i

[2016-09-08 19:27] crantila commented on #418
Yes, but make sure you can get the `IndexedPiece` objects from the `AggregatedPieces`. That's probably implemented already, but it's worth checking.

Yes, and to make it *look* the same as now. The whole point of a factory function is that you think you're just calling a regular constructor. If you call the new function `vis_import()` then all of a sudden people have to start thinking things like

[2016-09-08 19:59] alexandermorgan commented on #418
Ok great, thanks. The reason I was thinking of calling this vis_import() is that it seems strange to use a method called IndexedPiece() to create an aggregated_pieces() object, which is what would happen if it's an opus.

[2016-09-08 20:30] alexandermorgan commented on #388
For now this issue has been handled as of commit adf3db186f34f297dd02edb77dab5a8e9caf6bb0 on alex_devel by commenting out scipy and matplotlib dependencies and import statements, and also the dendrogram.py experiments and the call to it's tests. The code has just been commented out to facilitate its use by someone who wants to be able to plot dendrograms after installing scipy and matplotlib. I do

[2016-09-08 20:30] #388 closed

[2016-09-08 22:10] alexandermorgan commented on #387
new_ngram.py has become ngram.py (and the old ngram.py was removed) as of this commit on alex_devel: f5738d9f8304f47a600289f0c559d5f72d7733df

[2016-09-08 22:13] alexandermorgan commented on #388
FYI: build time on travis has decreased from 15-20 minutes to about 5 after getting rid of SciPy dependencies.

[2016-09-09 01:32] alexandermorgan commented on #416
If you're really up for working on this, would you be able to address this issue? You would have to take alex_devel as your starting point and push to develop when you're done.

[2016-09-09 01:34] alexandermorgan commented on #418
An alternative solution would be that we make everything an aggregated_pieces object. I think that would be overkill though.

[2016-09-09 01:45] alexandermorgan opened #421 "Make examples of multi-dimensional n-gram in documentation."
Such as note names, and their durations. The goal is to show the breadth of n-grams with the examples.

[2016-09-09 01:47] alexandermorgan opened #422 "Deprecate WorkflowManager"

[2016-09-09 04:12] crantila commented on #416
What's the timeline for completion?

[2016-09-09 04:24] crantila commented on #418
The advantage of the factory pattern is that it's a well-known, decades-old software design idea. Experienced developers will recognize it immediately and understand what's going on. (Or in the case of SIMSSA, student developers are exposed to and learn about the pattern).

Take a look at [this book excerpt](https://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript)

[2016-09-09 12:22] alexandermorgan commented on #418
This was an interesting example, thanks. In the example though, a vehicle_factory() function is used to make car and truck objects. So for VIS it seems like the equivalent would be a piece_factory(), or maybe a piece_importer() is a more self-explanatory name.

[2016-09-09 12:26] alexandermorgan commented on #416
Time is one thing I'm short on. I'm planning on publishing VIS 3.0 sometime next week so I would need this by Wednesday Sept. 14. If you're up for this it would be greatly appreciated, but there's no pressure, especially since it would require a quick turnaround.

[2016-09-09 13:55] crantila commented on #418
Not *quite* like that... they use a `VehicleFactory()` function... which is as close to a `VehicleFactory()` class as you can get in JavaScript. We could call the function `PieceFactory()`, that's not a bad idea, but the capitalization like a class name is important, to make it look like you're calling a constructor.

[2016-09-09 13:57] crantila commented on #416
Looks like there are a handful of features that won't make it in but ought to. I don't expect this to be fast, so I guess it'll be one of them. Sorry!

[2016-09-10 03:26] alexandermorgan commented on #416
Ok, thanks for letting me know. I'd like to get to this for VIS 3.0 because, although it's not an enormous change, it does change the way some analyses would need to be called, and therefore is not reverse compatible so should be part of a major release. If there's time next week I'll try to do this, if not it will have to wait.

[2016-09-10 03:28] alexandermorgan commented on #418
Oh ok, I see what you mean about the capitalization, I had missed that detail. Thanks.

[2016-09-11 04:22] alexandermorgan opened #423 "Cannot execute VIS scripts on new server."
I think I have not properly installed VIS on the new server. Until I can get VIS working again in the new server, progress on VIS 3.0 is frozen so this is a very important issue. @musicus and @slhowes , any ideas? When I try to run scripts from the scripts folder, I get this error:
[code]

When I try to install vis with: `sudo pip install vis-framework`
I eventually get this error:
[code]
Any advi

[2016-09-11 04:50] alexandermorgan commented on #423
Update: for some reason I'm only running into this problem when I execute scripts from the scripts folder. If I execute the same code from a different folder (such as from the vis-framework folder) it works.

[2016-09-11 18:48] #422 closed

[2016-09-11 19:01] alexandermorgan commented on #414
This wasn't as bad as it might have seemed. In the actual code of aggregated_pieces, the DS_Store file is only removed if it's there. This same check is now done in the tests.

[2016-09-11 19:01] #414 closed

[2016-09-11 19:05] alexandermorgan opened #424 "Remove WorkflowManager entirely in VIS 4.0."
The WorkflowManager was deprecated in VIS 3.0 so it should be removed entirely in VIS 4.0, but not before.

[2016-09-11 19:08] #387 closed

[2016-09-11 19:38] alexandermorgan opened #425 "Rewrite dissonance indexer."
Some dissonant and non-dissonant notes were correctly labelled in the past, but are now being incorrectly labelled. About 1% of the notes have been affected. This issue crept in somehow when we moved to pandas 0.18.1, which no longer allowed for the forcing of string data type. Sorting out this data type issue was not so difficult, but somehow the accuracy fell a bit. I must admit that the dissona

[2016-09-12 03:53] alexandermorgan opened #426 "There are at least two types of NaN's."
There seems to be a general float nan and a numpy float nan, and they are not equivalent. This is complicating our checks for nans which are common since they are the default N/A value. For now I'm working around this problem, but eventually VIS needs a good systematic solution for this.

[2016-09-13 21:25] alexandermorgan commented on #423
@mrbannon sorted all this out. Thanks.

[2016-09-13 21:25] #423 closed

[2016-09-14 22:35] alexandermorgan commented on #416
Recursion has been removed but this has to stay open until I'm done testing the new setup. This turned out to be a little easier than I anticipated. The new way to call analyzers does not use lists:
[code]
For convenience, each of the two following lines are equivalent to the last line above (NB: they use strings):
[code]
Two-letter strings (the first two letters of each analyzer) were also implem

[2016-09-19 13:29] alexandermorgan commented on #416
In the interest of coherence, this has to be done in aggregated_pieces too.

[2016-09-19 14:23] alexandermorgan commented on #416
@crantila quick question, in the documentation I'd like to provide a list of experimenters that can be passed as the "aggregated_experiments" argument of the aggregated_piece.get_data() method. There are six experimenters in VIS 3.0 (NB: dendrogram is out):

1. aggregator.ColumnAggregator
2. barchart.RBarChart
3. frequency.FrequencyExperimenter
4. lilypond.AnnotateTheNoteExperimenter
5. lilypond.L

[2016-09-19 14:44] crantila commented on #416
The `FrequencyExperimenter` might be useful as an aggregated experiment too, though probably not often. The LilyPond ones shouldn't be aggregated. In fact, `AnnotateTheNoteExperimenter` looks like it should actually be an `Indexer`. Oops!

You can also change the parameter names in that method... it's a little unweildy.

And since I'm already there: please ask @mborsodi to add her name with a new

[2016-09-21 00:18] alexandermorgan commented on #416
Now, depending on whether you call the Frequency or ColumnAggregator experiments via the ind_analyzer or combined_experimenter arguments, you get a list of multiple dataframes or a single dataframe respectively. Still needs some new documentation examples before VIS 3.0 gets published, but I'm going ahead and closing this.

[2016-09-21 00:18] #416 closed

[2016-09-23 00:57] #418 closed

[2016-09-23 02:13] musicus commented on #426
... and this bug is in the new release as well?

[2016-09-23 03:40] musicus opened #428 "dissonance indexer Documentation"
The dissonance indexer is well documented, and features plenty of docsting information.

The docstring information should be formatted in such a way that sphinx will be able to pick it up.

However, it should feature code examples in its [```run()``` method](https://github.com/ELVIS-Project/vis-framework/blob/master/vis/analyzers/indexers/dissonance.py#L904) as other indexers do, and show anticipa

[2016-09-23 03:46] musicus opened #429 "active_voices indexer documentation"
1) There is documentation, but it is not being picked up by sphinx.
2) It is also not clear from the documentation what the goal of the object is.

The documentation should not just show self-documenting code, but should include some type of prose of what it does, and why it is useful.

All code examples in the [```run()``` method](https://github.com/ELVIS-Project/vis-framework/blob/master/vis/ana

[2016-09-23 03:49] musicus opened #430 "cadence indexer Documentation"
This object is not being properly picked up by sphinx, nor is its documentation in the docstring.

The code example that is part of the docstring needs to look the following way in the [```run()``` method](https://github.com/ELVIS-Project/vis-framework/blob/master/vis/analyzers/indexers/cadence.py#L86):
[code]

The docstring should also feature some prose describing what is being done, and why it

[2016-09-23 03:50] alexandermorgan commented on #428
The run() method is a bad place to put essential documentation because several indexers don't have one. This is why I've been moving the most important documentation out of the run methods of indexers. So I don't think this should be done. I'm also unassigning myself because the time to assign stuff to me has long passed, as I mentioned in my email a week or two ago.

[2016-09-23 03:50] alexandermorgan commented on #430
Why would you assign this to me when I didn't even write this indexer?

[2016-09-23 03:52] musicus opened #431 "contour indexer Documentation"
This object is not being picked up by sphinx.

What are contours? What type of contours? Contours according to whom? There should be prose in the docstring that describes these items.

The code examples in the ```run()``` method need to look the following way:

[code]

There should also be prose on what this code does, and what its expected outcome would look like.

[2016-09-23 03:53] alexandermorgan commented on #426
A bug was perhaps not the best label, I'll admit. This is more of just the way things work with numpy/pandas. I made this issue just for it to be on people's radar. I'll go ahead and close it though.

[2016-09-23 03:53] #426 closed

[2016-09-23 03:54] alexandermorgan commented on #431
Seriously, no more assigning things to me, especially when I didn't write them.

[2016-09-23 03:57] musicus commented on #428
That is besides the point, and you are avoiding the main issue: Where is the example code? Good documentation alway features example code along with its example output.

I'm sorry, I asked on multiple occasions to ensure that everything is appropriately documented and it is not. I think it is your responsibility before you leave the project that everything is documented with example code and examp

[2016-09-23 04:00] musicus commented on #430
You are the project lead until you leave, and I asked to make sure that all documentation works and shows up via sphinx in the API porperly.

[2016-09-23 04:02] musicus commented on #431
Hey, your name is on the release ... and the documentation that is not being picked up by sphinx is part of that release. I just now have time to look at all the code in detail. I apologize. I'm mostly making notes for the future.

[2016-09-23 04:21] alexandermorgan commented on #347
I didn't end up doing this for one because I didn't have the time, but more importantly because I think VIS desperately needs a way of producing score output. A version of VIS that only produces data would make sense for an online app that has a dedicated plug-in already in place that produces score output (like Verovio). But until VIS in Rodan is more developed the focus of VIS development should

[2016-09-23 13:04] musicus commented on #347
We don't have an alternative right now.

[2016-09-23 16:49] musicus opened #432 "requests module"
The ```requests``` module is a requirement now, ```indexed_piece``` seems not to work without it.

[2016-09-23 17:17] mrbannon commented on #432
Bumping this. Shouldn't have to install core dep after vis is already installed.

[2016-09-23 17:32] musicus opened #433 "NoteRestIndexer not working in 3.0.0 ..."
... after following documentation in [noterest.py module](https://github.com/ELVIS-Project/vis-framework/blob/master/vis/analyzers/indexers/noterest.py#L132). @mrbannon also could not get it to work.

[2016-10-04 17:07] #432 closed

[2016-10-14 15:28] musicus commented on #429
Updated docstring code to be pep8 and _Sphinx_ compliant in develop branch.

[2016-10-14 15:28] #429 closed

[2016-10-14 21:47] musicus commented on #431
Docstrings aligned with Sphinx, and code brought into pep8 compliance (mostly).

[2016-10-14 21:47] #431 closed

[2016-10-14 21:48] musicus commented on #430
Docstrings aligned with Sphinx, and code brought into pep8 compliance (mostly).

[2016-10-14 21:48] #430 closed

[2016-10-14 21:48] musicus commented on #428
Docstrings aligned with Sphinx, and code brought into pep8 compliance (mostly).

[2016-10-14 21:48] #428 closed

[2016-10-19 12:43] alexandermorgan commented on #347
All LilyPond dependencies have been removed as of version 3.0.3. I still think that VIS needs a means of producing score output with the option of adding annotations. I removed these dependencies because outputlilypond is not up to date and between moving to Python 3, and music21 2.1.2, it has a few small but blocking issues. If we can get outputlilypond working again, or if we can use some other

[2016-10-19 12:43] #347 closed

[2016-10-19 12:45] alexandermorgan commented on #343
The workflow manager has been deprecated and the examples in the documentation have been thoroughly revised and updated (with the exception of deprecated code like that of the workflow manager).

[2016-10-19 12:45] #343 closed

[2016-10-19 12:49] alexandermorgan commented on #314
Now that outputlilypond has been removed and the workflow manager has been deprecated this issue is no longer pertinent. Note that one of the larger points raised here, piece-specific caching, was implemented with the 3.0 release.

[2016-10-19 12:49] #314 closed

[2016-10-19 12:53] alexandermorgan commented on #315
The question of how we manage stored data is still an important one, even if we have now removed LilyPond. If we want to address the files that are produced by the RBarChart or Dendrogram experimenters, I think we can start with a fresh issue.

[2016-10-19 12:53] #315 closed

[2016-10-19 12:59] alexandermorgan commented on #291
This issue is closely related to the structure of the workflow manager, which is now deprecated. The larger issue of indexers not being able to make meaningful use of any data from experimenters is still present, but this issue is largely alleviated by the fact that many indexer data inputs have defaults now (since VIS 3.0). The issue is also addressed with better documentation and by the raising

[2016-10-19 12:59] #291 closed

[2016-10-19 13:02] alexandermorgan commented on #282
The workflow manager has been deprecated and the importation of pieces has been overhauled so this part of the workflow manager is unlikely to still work. More generally, a thorough revision of the importation process is in order, especially with respect to how metafiles are parsed and aligned with pieces. This should be a separate issue though.

[2016-10-19 13:02] #282 closed

[2016-10-19 13:04] alexandermorgan commented on #256
No longer relevant with workflow manager deprecated (as of VIS 3).

[2016-10-19 13:04] #256 closed

[2016-10-19 13:06] alexandermorgan commented on #255
No longer relevant now that the workflow manager is deprecated (since VIS 3).

[2016-10-19 13:06] #255 closed

[2016-10-19 13:10] alexandermorgan commented on #419
In retrospect I think this would only serve to complicate matters and not much of their code (perhaps none) would be shared anyway so this seems like a bad idea.

[2016-10-19 13:10] #419 closed

[2016-10-22 02:18] musicus opened #440 "Offset Indexer Documentation"
The docstring currently explains:
[code]
However, ```notes``` here is a dataframe, and the ```data``` argument for the offset indexer in the ```.get_data()``` method, actually requires a ```series``` to be provided to the ```data``` argument.

An additional step is needed in the docstring that specifies that the ```notes``` variable has to be converted to a series before it can be passed to the ``

[2016-10-22 02:32] musicus commented on #440
Fixed with commit fbcdd50.

[2016-10-22 02:32] #440 closed

[2016-10-22 16:23] alexandermorgan commented on #440
This is not the best fix because it doesn't make things any easier for the user and it asks the user to do something that the superclass would have done automatically (in the case of NoteRestIndexer results). It's better to put the check for the dataframe type in the init method of offset.py so that it can accept either a list of series or a dataframe. I'll go ahead and do this and adjust the docu

[2016-10-22 17:28] alexandermorgan commented on #440
Note that the "Refactor" commit above (on develop) now allows for a dataframe to be passed, and retains level one of the dataframes multi_index (i.e. the column names minus the indexer name) from the original passed dataframe. The change actually took place in the superclass, indexer.py, so this issue hopefully won't come up again with other indexers.

[2016-10-22 18:44] musicus commented on #440
Great!

[2016-10-22 22:31] musicus commented on #440
I used your bit of code, but you were able to fix the issue otherwise, so great!

[2017-01-24 15:30] musicnerd opened #443 "ngram settings bug"
In the ngram indexer, at present only the 'vertical' setting allows 'all' as input, despite that in the examples in the documentation it implies that 'all' could also be passed as an argument to the 'horizontal' setting (see lines 296-298).

The larger bug within this bug is that the horizontal arguments at present only allow 'upper' or 'lower' but cannot be both. Even if you manually type in a li

[2017-01-25 13:53] musicus opened #444 "Tests"
Refactor all unit-tests to include music data.

[2017-01-30 02:35] crantila commented on #266
This doesn't seem relevant any more. Closing.

[2017-01-30 02:35] #266 closed

[2017-01-30 02:36] crantila commented on #258
Is there still interest in this task from ELVIS? If not, someone can close it.

[2017-01-30 02:38] crantila commented on #241
Truly solving this problem (1) doesn't seem urgent, and (2) would require much more research to determine the use cases. I'm going to close it, but feel free to re-open if there's someone else interested in doing the work.

[2017-01-30 02:38] #241 closed

[2017-01-30 02:39] crantila commented on #195
Is there any momentum for this? If not, we can close it.

[2017-01-30 02:40] crantila commented on #328
I'm closing this because nobody cares.

[2017-01-30 02:40] #328 closed

[2017-01-30 02:40] crantila commented on #324
I'm closing this because nobody cares.

[2017-01-30 02:40] #324 closed

[2017-01-30 02:41] crantila commented on #322
I'm abandoning this because nobody cares.

[2017-01-30 02:41] #322 closed

[2017-01-30 02:42] crantila commented on #295
I'm closing this issue beacuse it isn't very important for RODAN-based VIS workflows, and nobody else seems interested.

[2017-01-30 02:42] #295 closed

[2017-01-30 02:43] crantila commented on #287
Is there still interest here? Otherwise we can close it.

[2017-01-30 02:44] crantila commented on #284
Is there still interest in this? Otherwise we can close it.

[2017-01-30 02:45] crantila commented on #357
I'm closing this because I don't think anyone cares.

[2017-01-30 04:25] musicus commented on #284
There maybe, we are having a meeting later on this week.

[2017-01-30 04:33] musicus commented on #357
Are you joining us back up?

[2017-01-30 04:38] musicus commented on #258
There is (didn't mean to un-assign you).

[2017-01-30 04:43] musicus commented on #287
@crantila yes, there is still interest.

[2017-02-27 19:59] musicus opened #445 "Aggregation"
```music21``` stream methods are not inherited in ```3.x.x``` but should be, since they are inherited when a piece is singularly imported pieces.

[2017-02-27 20:16] musicus commented on #445
However, music21 stream data can be accessed the following way:
[code]

[2017-03-05 17:44] musicnerd opened #446 "meter.MeasureIndexer returns empty dataframe"
running the get_data method with argument 'measure' or 'meter.MeasureIndexer' on an indexed piece returns an empty dataframe. I've tried this with many different pieces and using both midi and kern.  I guess this will have to be rewritten, or else we just have to revert back to music21 to compute and convert back into a pandas series.

[2017-03-07 22:45] musicnerd commented on #446
OK so actually it DOES work, but only with python 3.X and VIS 3.X and only with file formats that contain measures (which apparently midi does not).

[2017-05-31 14:09] musicus opened #447 "Jupyter Notebook active_voices Indexer"
Generate a Jupyter Notebook of the API documentation of the ```active_voices``` indexer.

[2017-11-15 15:27] vigliensoni opened #450 "VIS-client linked from vis-framework read the docs is not working"
The VIS-client (http://vis-rodan.simssa.ca) referenced from http://vis-framework.readthedocs.io/en/stable/  is not running.

Any ideas about this @musicnerd ?

[2017-11-15 16:29] musicnerd commented on #450
I'm afraid I've never used the VIS client. You might have to ask Ryan,
Reiner, or Sam who has been using it regularly (although I believe in an
older, out of date format.)  Reiner was the last one to update the
readthedocs.  I don't know if we ever got the most recent version of VIS
working with the VIS-client?

Claire

On Wed, Nov 15, 2017 at 10:27 AM, Gabriel Vigliensoni <
notifications@github.c